/* Buttons */
.btn {
    cursor: pointer;
    border: none;
}

.btn-small {
    height: var(--space-28);
    font-size: var(--font-size-14);
    padding-left: var(--space-10);
    padding-right: var(--space-10);
    border-radius: 0.6rem;
}

.btn-medium {
    height: var(--space-48);
    font-size: var(--font-size-16);
    padding-right: var(--space-36);
    padding-left: var(--space-36);
    border-radius: 1rem;
}

.btn-large {
    height: var(--space-74);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-600);
    padding-right: var(--space-56);
    padding-left: var(--space-56);

    @media (max-width: 37.5em) {
        height: var(--space-56);
        font-size: var(--font-size-16);
        padding-right: var(--space-36);
        padding-left: var(--space-36);
    }
}

.btn-primary {
    background-color: var(--primary-light);
    color: var(--red);
}

.btn-red {
    background-color: var(--red);
    color: var(--white);
}

.btn-black {
    background-color: var(--dark-brown);
    color: var(--white);
}

.btn-gray {
    background-color: #f7f7f7;
    color: var(--text-color);
}

.btn-white {
    background-color: var(--white);
    color: var(--dark-brown);
    border: 0.1rem solid #b6a38b;
}
