@import url("https://fonts.googleapis.com/css2?hhtha:ital,wght@0,400..700;1,400..700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* it sets base font size to 10px */
}

body {
    font-family: "Lora", serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

