@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* it sets base font size to 10px */
}

body {
    font-family: "Bitter", serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
