:root {
    --primary: #83ddfb;
    --primary-light: #83e0ff;
    --red: #ff3131;
    --dark-brown: #5f411c;
    --text-color: #0d0d0d;
    --light-text-color: #999999;

    --black: #000;
    --white: #fff;
}
